body{
    width: 100%;
    margin: 0;
}
.Display-Area{
    width: 1200px;
}
.NewUpdateCPU{
    width: 1000px;
    margin: 0 auto;
    border: aqua 1px solid;
}
.NewUpdateCPU table td{
    border: black solid 1px;
}